﻿@page "/Login"
@using BlazorDB.Model
@using Interfaces
@using System.Net.Mail
@inject IuserService userServices

<h1>Iniciar Sesion:</h1>


<br />







<td>E-mail:</td>

<input type="text" />

<br />
<br />


<td>Password:</td>

<input type="text" />

<br />

<br />


<input type="button" value="Iniciar" />
<input type="button" value="Cancelar" />











@code{




}
