﻿@page "/registro"
@using BlazorDB.Model
@using Interfaces
@using System.Net.Mail
@inject IuserService userServices

<h1>Registro de Usuario:</h1>

<br />


<EditForm Model="@user">

    <table class="table">

        <tr>
            <td>Nombre:</td>
            <td><input type="text" @bind="user.name" /></td>
            <td>Apellido:</td>
            <td><input type="text" @bind="user.lastName" /></td>
            <td>Fecha de nacimiento:</td>
            <td><input type="date"  @bind="user.birthday" /></td>
        </tr>

        <tr>
            <td>Correo:</td>
            <td><input type="text" @bind="user.email" /></td>
            <td>Pais:</td>
            <td><input type="text" @bind="user.country_id" /></td>
            <td>Ciudad</td>
            <td><input type="text" @bind="user.city" /></td>
        </tr>

        <tr>
            <td>Genero:</td>

            <td><input type="text" @bind="user.gender" /></td>

            <td>Contraseña:</td>
            <td><input type="password" @bind="user.password" /></td>
            <td></td>
            <td></td>

        </tr>



        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Salvar" @onclick="SaveUser" />
                <input type="reset" value="Cancelar" @onclick="CancelUser" />

                <hr />

                <p>@customError</p>
                <p>@userSaved</p>
            </td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>



        </tr>

    </table>







</EditForm>

@code{



    User user = new User();

    string customError = "";

    string userSaved = "";

    private string Message { get; set; } = "";



    protected void CancelUser()
    {




    }

    protected async Task SaveUser()
    {
        try
        {
            await userServices.SaveUser(user);



            using (MailMessage mail = new MailMessage())
            {

                mail.From = new MailAddress("kelsierscadrial@gmail.com");
                mail.To.Add(user.email);
                mail.Subject = "Link-Beats Registro Exitoso";
                mail.Body = "<h1>Registro Exitoso</h1> <br/> <h3>Has sido registrado correctamente en nuestra plataforma</h3>";
                mail.IsBodyHtml = true;

                using (SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587))
                {
                    smtp.Credentials = new System.Net.NetworkCredential("kelsierscadrial@gmail.com", "Kamisama12*");
                    smtp.EnableSsl = true;
                    smtp.Send(mail);
                    userSaved = "Usuario Guardado Con Exito";
                }

            }



        }
        catch (Exception ex)
        {

            customError = ex.Message;
        }




    }

}
